body {
    background-color: rgba(250, 250, 250, 255);
}

#intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 42rem;
    margin-inline: auto;
    font-family: poppins, sans-serif;
    color: hsl(234, 12%, 34%);
}

#intro-head1 {
    margin-top: 1.5rem;
    margin-bottom: 0.1rem;
    font-weight: 100;
    font-size: 38px;
}

#intro-head2 {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
    font-size: 38px;
}

#intro-body {
    margin-top: 0.8rem;
    margin-bottom: 2.7rem;
    font-weight: 400;
    padding-inline: 4rem;
}

#container {
    display: grid;
    justify-content: center;
    grid-template-rows: 140px 140px 140px 140px;
    grid-template-columns: 370px 370px 370px;
    padding: 20px;
    margin-inline: auto;
    column-gap: 35px;
}

.card-element {
    background-color: white;
    font-family: poppins, sans-serif;
    border-radius: 8px;
    margin-bottom: 35px;
    box-shadow: 0 12px 25px -10px rgba(37, 86, 139, 0.377);;
    overflow: hidden;
}

.accent-box {
    background-color: rgba(2, 200, 200);
    height: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.accent-box.supervisor { background-color: hsl(180, 62%, 55%)}
.accent-box.teambuilder { background-color: hsl(0, 78%, 62%)}
.accent-box.karma { background-color: hsl(34, 97%, 64%)}
.accent-box.calculator { background-color: hsl(212, 86%, 64%)}

.card-heading {
    margin-inline: 30px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    color: hsl(234, 12%, 34%)
}

.card-body {
    margin-inline: 30px;
    margin-top: 0px;
    padding-right: 2rem;
    font-size: 15px;
    font-weight: 400;
    color: hsl(212, 6%, 44%);
}

.card-img {
    margin-top: 2rem;
    margin-left: 17rem;
}

.card-supervisor {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}

.card-teambuilder {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.card-karma {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
}

.card-calculator {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;
}

@media (max-width: 1167px) {

    #intro-head1 {
        margin-top: 2rem;
        margin-bottom: 0.2rem;
        font-weight: 100;
        font-size: 30px;
    }

    #intro-head2 {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        font-weight: 600;
        font-size: 29px;
    }

    #intro-body {
        padding-inline: 1.5rem;
        font-size: 17px;
    }

    #container {
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: minmax(auto, 370px);
    }

    .card-supervisor {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .card-teambuilder {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .card-karma {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .card-calculator {
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
    }
}