body {
    background-color: rgba(250, 250, 250, 255);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

#intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: poppins, sans-serif;
}

#container {
    background-color: gray;
    display: grid;
    justify-content: center;
    grid-template-rows: 160px 110px 20px 110px 160px;
    grid-template-columns: minmax(370px, 1fr) minmax(370px, 1fr) minmax(370px, 1fr);
    padding: 20px;
    margin-inline: 250px;
    column-gap: 20px;
}

.card-element {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: poppins, sans-serif;
    border-radius: 6px;
}

.card-heading {
    font-size: 20px;
    font-weight: 600;
    color: hsl(234, 12%, 34%)
}

.card-body {
    font-size: 15px;
    font-weight: 400;
    color: hsl(212, 6%, 44%);
}

.card-supervisor {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 1;
}

.card-teambuilder {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.card-karma {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 2;
}

.card-calculator {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 3;
}